{% extends "base.html" %}

{% block content %}
    <form method="post" action="">
        <div style="margin: 10px">
            <a type="button" class="btn btn-outline-secondary" href="/teacherdiary">Вернуться</a>
            <a>{{ form.submit(type="submit", class="btn btn-outline-secondary") }}</a>
        </div>
        <table class="marks_table table table-bordered" style="padding: 10px">
            <thead>
                <tr>
                    <th width="300">Ученики</th>
                    <th width="200">Оценки</th>
                </tr>
            </thead>
            <tbody>
                {% for mark in form.marks %}
                    <tr>
                        <td>{{ loop.index }}. {{ students[loop.index0].name }} {{ students[loop.index0].surname }}</td>
                        <td>
                            {{ mark(class="form-control", type="email") }}<br>
                            {% for error in mark.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form.homework.label }}<br>
            {{ form.homework(class="form-control") }}<br>
            {% for error in form.homework.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
    </form>
{% endblock %}